<%- include('../partials/header')%>

<form action="/destinations" method="POST" id="formNew">
<div>
    <label for="">Destination</label>
    <input type="text" name="name" placeholder="type Destination name">
    <label for="">Location</label>
    <input type="text" name="location" placeholder="Type location here">
    <label for="">Image Url</label>
    <input type="text" name="imageUrl" placeholder="Type Image Url here">
    <input type="submit" value="Create a Destination">

</div>
</form>




<%- include('../partials/footer')%>


